@tailwind base;
@tailwind components;
@tailwind utilities;

.App
{
  background-color: #004643;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}